body,html,h1,h2,h3,h4,h5,h6,form,ul,dl,dd,ol,datalist{margin:0;padding:0;}
body{font-size:12px;}
input{outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration:none;}
li{list-style:none;}
em,strong{font-weight:normal;}
i,u{font-style:normal;}
